workflow.json
{
  "nodes": [
    {
      "parameters": {},
      "id": "ba39e048-a6db-4b27-b6df-ddf893d869a8",
      "name": "Manual Trigger - Ingestion",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        -128,
        16
      ]
    },
    {
      "parameters": {
        "jsonMode": "expressionData",
        "jsonData": "={{ $json }}",
        "textSplittingMode": "custom",
        "options": {}
      },
      "id": "7cb78a93-2a1d-4123-a7ac-3e40e168e7f0",
      "name": "Load CSV Documents",
      "type": "@n8n/n8n-nodes-langchain.documentDefaultDataLoader",
      "typeVersion": 1.1,
      "position": [
        448,
        32
      ]
    },
    {
      "parameters": {
        "chunkOverlap": 200,
        "options": {}
      },
      "id": "3fadd2eb-0279-40d3-9959-2d98fddcd6b6",
      "name": "Recursive Text Splitter",
      "type": "@n8n/n8n-nodes-langchain.textSplitterRecursiveCharacterTextSplitter",
      "typeVersion": 1,
      "position": [
        528,
        240
      ]
    },
    {
      "parameters": {
        "mode": "insert",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "options": {}
      },
      "id": "3e4078d1-2e20-4eba-9c45-9ddc498f9b69",
      "name": "Supabase Vector Store - Insert",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        352,
        -192
      ],
      "credentials": {
        "supabaseApi": {
          "id": "LKDCouvPG3jd0Rkw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {},
      "id": "3930821f-9aea-4984-b5c6-56b4971633e1",
      "name": "OpenAI Chat Model - GPT-4o-mini",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        -992,
        32
      ],
      "credentials": {}
    },
    {
      "parameters": {
        "sessionIdType": "customKey",
        "sessionKey": "={{ $json.sessionId }}",
        "contextWindowLength": 10
      },
      "id": "ad702ff3-2484-4879-98f1-621c0675d9c1",
      "name": "Postgres Chat Memory",
      "type": "@n8n/n8n-nodes-langchain.memoryPostgresChat",
      "typeVersion": 1.3,
      "position": [
        -688,
        48
      ],
      "credentials": {
        "postgres": {
          "id": "p29MnC8nIBUYUa81",
          "name": "Postgres account"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Search through AI tools database for features, pricing, and use cases",
        "tableName": {
          "__rl": true,
          "mode": "id",
          "value": "documents"
        },
        "topK": 5,
        "options": {}
      },
      "id": "79d620b0-c774-499d-9567-3232595d32a3",
      "name": "Supabase Vector Store - Retrieve as Tool",
      "type": "@n8n/n8n-nodes-langchain.vectorStoreSupabase",
      "typeVersion": 1.3,
      "position": [
        -560,
        48
      ],
      "credentials": {
        "supabaseApi": {
          "id": "LKDCouvPG3jd0Rkw",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 2.2,
      "position": [
        -784,
        -176
      ],
      "id": "834b3992-111a-4901-8b23-cb7e37d19087",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.chatTrigger",
      "typeVersion": 1.3,
      "position": [
        -992,
        -176
      ],
      "id": "1ee74c27-9e9b-4610-8387-78f2f4269073",
      "name": "When chat message received",
      "webhookId": "098040a1-340f-4bf9-90d6-8810691bd781"
    },
    {
      "parameters": {
        "url": "https://docs.google.com/spreadsheets/d/19gnzh0jcXHQqNtQEG9W7RVfkEE41o5uMdOvIqvdQ7nI/edit?usp=sharing",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        64,
        -16
      ],
      "id": "7e996f6b-e693-45fd-b083-676c558eca48",
      "name": "HTTP Request"
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        640,
        256
      ],
      "id": "cea774cf-15bb-4cb3-9292-29c12c590977",
      "name": "Embeddings Google Gemini",
      "credentials": {
        "googlePalmApi": {
          "id": "ZKtoExDLw9VekpLW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsGoogleGemini",
      "typeVersion": 1,
      "position": [
        -560,
        192
      ],
      "id": "3764540a-d31d-4f7a-9120-d63f15ac5a26",
      "name": "Embeddings Google Gemini1",
      "credentials": {
        "googlePalmApi": {
          "id": "ZKtoExDLw9VekpLW",
          "name": "Google Gemini(PaLM) Api account"
        }
      }
    },
    {
      "parameters": {
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatMistralCloud",
      "typeVersion": 1,
      "position": [
        -816,
        16
      ],
      "id": "2e97b824-a15e-464b-8d7c-aea55c089cfd",
      "name": "Mistral Cloud Chat Model",
      "credentials": {
        "mistralCloudApi": {
          "id": "LHXjAIJlcaeh22CR",
          "name": "Mistral Cloud account"
        }
      }
    }
  ],
  "connections": {
    "Manual Trigger - Ingestion": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Load CSV Documents": {
      "ai_document": [
        [
          {
            "node": "Supabase Vector Store - Insert",
            "type": "ai_document",
            "index": 0
          }
        ]
      ]
    },
    "Recursive Text Splitter": {
      "ai_textSplitter": [
        [
          {
            "node": "Load CSV Documents",
            "type": "ai_textSplitter",
            "index": 0
          }
        ]
      ]
    },
    "Postgres Chat Memory": {
      "ai_memory": [
        [
          {
            "node": "AI Agent",
            "type": "ai_memory",
            "index": 0
          }
        ]
      ]
    },
    "Supabase Vector Store - Retrieve as Tool": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "Supabase Vector Store - Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store - Insert",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Google Gemini1": {
      "ai_embedding": [
        [
          {
            "node": "Supabase Vector Store - Retrieve as Tool",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    },
    "Mistral Cloud Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "227fb2e2be6a21edd2b2f7edfd8a1f951fbf4d179d7fc0fe78f5047e1265459d"
  }
}